/*Header Styles*/





nav.navbar {
	float: right;




}


/*Logo*/
div#logo {
	position:fixed;
	
	left:40%;
	top: 32%;



}


/*SearchForm*/
div#search{
	position:absolute;
	
	top:50%;
	left:32%;
	

}

input#searchbox{
	width:200%;
	height:20px;
	

}


p#frenchlink {
	position:fixed;
	top:74%;
	left:43%;
	font-size:12px;



}

/*Footer*/
footer.footer{
	position:fixed;
	top:95%;



}

/*Footer Links*/
span#leftlinks {
	position:fixed;
	text-align: left;
	left:3%;
}

span#rightlinks {
	position:fixed;
	text-align:right;
	right:3%;

}

/*links*/
a
