/*Header Styles*/





nav.navbar {
	display:block;
	float:right;




}


/*Logo*/
div#logo {
	position:absolute;
	top:21%;
	left:43%;
	



}


/*SearchForm*/
div#search{
	position:absolute;
	
	top:34%;
	left:35%;
	

}

input#searchbox{
	width:230%;
	height:20px;
	border-color:blue;
	padding:8px;
}

div.buttons
{
	position:relative;
	left:55%;
	top: 20%;
	padding:7px;
	
}



p#frenchlink {
	position:absolute;
	top:49%;
	left:43%;
	font-size:12px;



}

/*Footer*/
footer.footer{
	position:fixed;
	top:95%;



}

/*Footer Links*/
span#leftlinks {
	position:fixed;
	text-align: left;
	left:3%;
}

span#rightlinks {
	position:fixed;
	text-align:right;
	right:3%;

}

/*links*/
a
