/*Header Styles*/





nav.navbar {
	display:inline-block;
	float:right;
	font-family:arial,sans-serif;
	font-size:13px;
	
	


}

div#header {
	position:relative;
	width:100%;
	padding-top:5%;
	
	
}
span#topright {
	position:relative;
	
	padding-right:30px;
	padding-left:30px;
	
}

.navbar a{
	text-decoration:none;
	color:#222;
	
	margin: 2px 9px 0;
}
.topbutton1 {
	margin-left:0;
	margin-right:0;
	
	
	
}

#signin {
	
	padding:0 13px;
	font-family:arial,sans-serif;
	font-size:13px;
	font-weight:bold;
	background-color:#4387fd;
	border: 1px solid #4285f4;
	outline:medium none;
	border-radius: 2px;
    display: inline-block;
    line-height: 28px;
	color:#fff;
	white-space:nowrap;
	text-decoration:none;
	cursor:default;
	}
	



/*Logo*/
div#logo {
	position:absolute;
	top:21%;
	left:43%;
	



}

	
	
	
	


/*Search*/
div#search{
	position:absolute;
	bottom:auto;
	top:34%;
	left:36%;
	right:auto;

}
/*searchbox*/
input#searchbox{
	width:195%;
	height:26px;
	line-height:26;
	margin:-1px 0 1px;
	border:1px solid #e5e5e5;
	padding:6px;
}

input#searchbox:focus{
	border-color:#4d90fe;
	
	
}

input#searchbox:hover{
	border-color:#c6c6c6;
	
	
	
}
input#searchbox:hover:focus{
	border-color:#4d90fe;
	
}


/*ButtonStyles*/

div#buttons
{
	position:relative;
	left:42%;
	margin-top:7%;
	
	
}

.button {
	background-image: -moz-linear-gradient(center top , #f5f5f5, #f1f1f1);
	background-color:#e5e5e5;
	margin:11px 4px;
	padding:0 16px;
	font:arial,sans-serif;
	font-size:13px;
	font-weight:bold;
	border:1px solid #f2f2f2;
	color:#757575;
	min-width:54px;
	text-align:center;
	height:36px;
	line-height:27px;
	-moz-user-select: none;
	border-radius:2px;
	cursor:default;
	}

.button:hover {
	
	
	
	
	
	
}


p#frenchlink {
	position:absolute;
	top:49%;
	left:46%;
	font-size:13px;
	text-align:center;
	font-family:arial,sans-serif;
	
}

#frenchlink a{
	text-decoration:none;
	
	
}
#frenchlink a:hover {
	text-decoration:underline;
}


/*Footer*/
div#fbar {
	position:fixed;
	top:96%;
	display:block;
	background: #f2f2f2 none repeat scroll 0 0;
	line-height:40px;
	width:100%;
	border-top: 1px solid #e4e4e4;
	height:35px;
}







/*Footer Links*/
span#leftlinks {
	position:fixed;
	text-align: left;
	left:1%;
	
	
	}

span#rightlinks {
	position:fixed;
	text-align:right;
	right:1%;

}
.footer a{
	font-family:arial,sans-serif;
	text-decoration:none;
	font-size:13px;
	color: #666;
	margin: 2px 10px 0;
	
	
	}
.leftlinks
{

	
	
	
	
}


.footer a:hover 
	{
	text-decoration:underline;
	
	
	
}	




/*links*/
a
